@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*<p>Use this area to provide additional information.</p>*@
<p>Service created to collect information about missing people. You can see records without logging. To add new record please register. If you have any information about person that is included here, please contact with administrator</p>
