@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    @*<h1>@ViewData["Title"]</h1>*@
    @{
        if (User.Identity.IsAuthenticated)
        {
            //<form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
            //    <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
            //</form>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">@ViewData["Title"]</h3></div>
                            <div class="card-body">                                        
                                <form id="registerForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <div class="mt-4 mb-0">
                                        <div class="d-grid"><button id="registerSubmit" type="submit"  class="btn btn-primary btn-block">Click here to Logout</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
